.js-validation-error:after {
    content: attr(js-validation-message);
    font-size: 1.4rem;
    color: red;
    display: block;
}

.g-recaptcha {
    &.error {
        &:after {
            content: attr(data-errormessage);
            font-size: 1.4rem;
            color: red;
            display: block;
        }
    }
}

.form-handler {
    .btn.fh-flexible-btn-color {
        @extend .btn-disabled;
    }

    &.formIsValid {
        .btn.fh-flexible-btn-color {
            background-color: #00dbb1;
            color: $white;
        }
    }
}