.users-comments {
    background: $white;

    .user-comments__title-row {
        display: flex;
        justify-content: space-between;

        a {
            font-size: 2.4rem;
            line-height: 4rem;
            color: $green;
            border-bottom: .1rem solid;
        }
    }

    .comments-slider {
        padding: 5.5rem 0;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        > * {
            display: inline-flex;
            flex: 0 0 auto;
        }

        .arrow {
            width: 15.5rem;
            cursor: pointer;
            transition: opacity ease-in-out .3;

            img {
                display: block;
            }

            &.right {
                justify-content: flex-end;

                img {
                    transform: rotate(-180deg);
                }
            }

            &:hover {
                opacity: .8;
            }
        }

        .comments-slider__list {
            position: relative;
            overflow: hidden;
            flex: auto;

            .comments-slider__list__item {
                width: 100%;
                flex: 0 0 auto;

                .comments-slider__list__item__comment {
                    display: flex;

                    .comment-text {
                        font-size: 2.4rem;
                        line-height: 3rem;
                        color: $black-1;
                        display: block;

                        &:before {
                            font-size: 0;
                        }

                        &:after {
                            font-size: 7.3rem;
                            font-weight: bold;
                            color: $navy;
                            line-height: 1;
                            vertical-align: text-top;
                            margin-right: 2rem;
                            height: 4rem;
                            display: inline-block;
                            margin-left: 2rem;
                            content: "”";
                        }
                    }

                    .q {
                        font-size: 7.3rem;
                        font-weight: bold;
                        color: $navy;
                        line-height: 7rem;
                        vertical-align: text-top;
                        margin-right: 2rem;
                    }
                }

                p {
                    color: $green;
                    font-size: 2.4rem;
                    margin-top: 3rem;
                }
            }
        }
    }

    @include mobile {
        padding: 4rem 0;
        .user-comments__title-row {
            margin-bottom: 2rem;

            .section-subtitle {
                font-size: 2.3rem;
                line-height: 3.4rem;
                text-align: center;
                width: 100%;
            }

            a {
                display: none;
            }
        }
        .comments-slider {
            padding: 0;

            .arrow {
                width: 2rem;

                img {
                    width: 2rem;
                    height: auto;
                }
            }

            .comments-slider__list {
                .comments-slider__list__item {
                    p {
                        margin-top: 1rem;
                        font-size: 1.5rem;
                        line-height: 2.5rem;
                        padding: 0 1rem;
                    }

                    .comments-slider__list__item__comment {
                        .q {
                            display: none;

                        }

                        .comment-text {
                            padding: 0 1rem;
                            font-size: 1.5rem;
                            line-height: 2.3rem;

                            &:before, &:after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}