@use "@/styles/utils" as *;
.hero.five-steps {
    p {
        color: $black-1;
    }

    .breadcrumb .breadcrumb__cont {
        margin-top: 8rem;
    }

    &.asym-image-text .asym__text {
        padding: 5rem 0;
    }
}

.fs-tab-cta {
    padding: 6rem 0 10rem;

    .btns-cont {
        display: flex;
        justify-content: center;
        align-items: center;

        .btn {
            margin: 0 1rem;
            border: .1rem solid transparent;

            &.navy {
                border: .1rem solid $navy;
            }
        }
    }

    .tab-5steps {
        &.verzilver {
            display: none;
        }
    }

    &.verzilverplan {
        .btns-cont {
            .btn {
                background: $white;
                color: $navy;
                border: .1rem solid $navy;

                &.verz {
                    background: $green;
                    color: $white;
                    border-color: $green;
                }
            }
        }

        .tab-5steps {
            display: none;

            &.verzilver {
                display: flex;
            }
        }
    }

    .tab-5steps {
        margin-top: 6rem;

        .tab-contents {
            .switchtitle {
                display: none;
            }
        }
    }
}

@include mobile {
    .hero.five-steps {
        background: $gray;

        .breadcrumb {
            display: none;
        }

        &.asym-image-text {
            &:before {
                display: none;
            }

            .asym__text {
                padding: 1.5rem;

                .btn {
                    width: 100%;
                    text-align: center;
                }
            }

            .asym__image {
            }
        }
    }
    .fs-tab-cta {
        padding: 3rem 0 0 0;

        .btns-cont {
            flex-flow: column;

            .btn {
                width: 100%;

                &:first-child {
                    margin-bottom: 1rem;
                }
            }
        }

        .standard.tabs-main-cont {
            width: 100%;
        }

        .tab-5steps.tabs {
            background: none;
            box-shadow: none;
            margin-top: 3rem;

            .nav {
                display: none;
            }

            .tab-contents {
                padding: 0;

                .tab {
                    padding: 0 2rem;
                    border-bottom: .1rem solid rgba($navy, .4);
                    display: block;
                    max-height: 6rem;
                    overflow: hidden;
                    transition: max-height 0.3s ease-out;

                    &:last-of-type {
                        border-bottom: none;
                    }

                    .tab-contnent__wrapper {
                        padding-bottom: 2rem;
                    }

                    .switchtitle {
                        font-size: 2rem;
                        line-height: 6rem;
                        height: 6rem;
                        width: 100%;
                        position: relative;
                        font-weight: 500;

                        &:after {
                            content: '+';
                        }

                        display: flex;
                        justify-content: space-between;
                        color: $navy;
                    }

                    &.active {
                        max-height: 300rem;
                        transition: max-height 0.5s ease-in;

                        .switchtitle {
                            color: $green;

                            &:after {
                                content: '-';
                            }
                        }
                    }
                }

                p {
                    font-size: 1.5rem;
                    line-height: 2.5rem;

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }

                .switchtitle {
                    display: block;
                }
            }
        }
    }
}