.blog-post__hero {
    z-index: 0;
    background: $white;
    position: relative;

    .blog-post__hero__image {
        &:before {
            background: $gray;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: calc(100% - 6rem);
            content: '';
            z-index: 0;
        }

        z-index: 0;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: flex-end;

        img {
            position: relative;
            z-index: 9;
            max-width: 50%;
            display: block;
        }
    }

    .blog-post__hero__text {
        height: 100%;
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 999;

        h1 {
            color: $navy;
            font-size: 5.5rem;
            line-height: 6.6rem;
            font-weight: bold;
            margin-bottom: 2.5rem;
        }

        p {
            font-size: 2.4rem;
            line-height: 3.6rem;
            color: rgba($black, .8);
            margin-bottom: 5rem;
        }

        .txt-cont {
            max-width: calc(50% - 6rem);
        }

        .breadcrumb {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;

            .breadcrumb__cont {
                background: none;
                padding: 0;
            }
        }
    }

    &.no-cover {
        padding-bottom: 6rem;

        .blog-post__hero__image {
            display: none;
        }

        .blog-post__hero__text {
            position: static;
            background: $gray;
            padding: 6rem 0;

            .txt-cont {
                width: 100%;
                max-width: none;
            }

            .breadcrumb {
                background: $white;
                padding: 2.5rem;
            }
        }
    }

    @include mobile {
        background: $gray;
        padding-bottom: 2rem;
        .blog-post__hero__image {
            position: static;
            width: 100%;
            margin-bottom: 2rem;

            &:before {
                display: none;
            }

            img {
                width: calc(100% - 2rem);
                max-width: none;
            }
        }
        .blog-post__hero__text {
            position: static;
            height: auto;

            .breadcrumb {
                display: none;
            }

            .txt-cont {
                max-width: 100%;
            }

            p {
                line-height: 2.4rem;
                font-size: 1.4rem;
                margin-bottom: 1rem;
            }

            h1 {
                font-size: 2.5rem;
                line-height: 3rem;
                margin-bottom: 1.5rem;
            }
        }
        &.no-cover {
            padding-bottom: 0;
        }
    }
}

.blog-page {
    .layout-6 {
        color: $black-1;
        font-size: 2rem;
        line-height: 3rem;
        padding: 6rem 0;

        h2 {
            display: block;
            font-size: 2.5rem;
            color: $green;
            font-weight: bold;
            line-height: 2.4rem;
            margin-bottom: 2.5rem;
        }

        ul {
            font-size: 2rem;
            margin-bottom: 2rem;
        }

        img {
            max-width: 100%;
            margin: 1rem;
        }

        h3 {
            display: block;
            font-size: 2rem;
            color: $navy;
            font-weight: bold;
            line-height: 3rem;
            margin-bottom: 2rem;
        }

        p {
            color: $black-1;
            font-size: 2rem;
            line-height: 3rem;
            margin: 1rem 0;
        }

        .layout-6__cont {
            .l6_right {
                .box {
                    margin-bottom: 6rem;

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }

            .l6_left {
                color: $black-1;
                font-size: 2rem;
                line-height: 3rem;
            }
        }

        .cats-cont {
            li {
                a {
                    display: flex;
                    justify-content: space-between;
                    color: $navy;
                    font-size: 2rem;
                    line-height: 4rem;

                    span {
                        color: $black-1;
                    }
                }
            }
        }
    }

    @include mobile {
        .layout-6 {
            padding: 2rem 0;

            p, span {
                font-size: 1.5rem;
            }

            .blog-page .layout-6 .layout-6__cont .l6_right .box {
                margin-bottom: 2rem;
            }

            .cats-cont {
                li {
                    a {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}