@use "@/styles/utils" as *;
.footer {
    background: $white;
    padding: 2rem 7rem 0;

    .footer-cont {
        padding: 10rem 0;
        display: flex;
        justify-content: space-between;

        .col {
            flex: 0 0 auto;
            max-width: 33%;
        }

        .logo-address {
            > a {
                display: block;
                margin-bottom: 6rem;

                img {
                    display: block;
                    max-width: 100%;
                }
            }

            p {
                color: rgba($black, .8);

                a {
                    color: $green;
                }
            }
        }

        .menu-cont {
            ul {
                margin-bottom: 5rem;

                li {
                    a {
                        color: rgba($black, .8);
                        line-height: 3rem;
                        font-weight: 500;
                    }
                }
            }
        }

        .contact-us {
            .contact-form {
                display: block;
                padding: 3rem;
                background: $gray;
                border-radius: 2rem;
                margin-bottom: 2rem;

                p {
                    color: $navy;
                    margin-bottom: 2.5rem;
                }

                form {
                    display: flex;

                    input {
                        width: 50%;
                        border: .2rem solid rgba($black, .14);
                        font-size: 1.45rem;
                        padding: 1.2rem;
                        background: $white;
                        border-radius: 1rem;
                    }

                    justify-content: space-between;

                    .btn {
                        padding: 1.5rem 2.5rem;
                        flex: 0 0 auto;
                    }
                }
            }

            .sponsors {
                display: flex;
                justify-content: flex-end;
                align-items: center;

                > * {
                    margin-left: 2rem;
                }
            }
        }
    }

    .copyright {
        background: $white;
        padding: 3rem 0;
        box-shadow: 0 3px 60px rgba($black, .08);

        .copy__cont {
            display: flex;
            justify-content: space-between;

            .copy {
                color: $black-2;

                a {
                    color: $black-2;
                    margin-left: .5rem;

                    &:before {
                        content: '|';
                        margin-right: .5rem;
                    }
                }
            }
        }
    }

    @include desktop-high {
        padding: 2rem 4rem 0;
        .footer-cont {
            .contact-us .contact-form form {
                input {
                    min-width: 18rem;
                    flex: 0 0 auto;

                }

                .btn {
                    flex: 0 0 auto;
                    font-size: 1.5rem;
                }
            }
        }
        .copyright {
            font-size: 1.6rem;
        }
    }
    @media all and (min-width: 640px) and (max-width: 920px) {
        padding: 2rem 4rem 0;
        .footer-cont {
            flex-wrap: wrap;

            .col {
                &.contact-us {
                    max-width: initial;
                    width: 100%;
                }
            }
        }
    }
    @include mobtop {
        padding: 2rem 4rem 0;

        .copyright {
            .copy__cont {
                text-align: center;
                flex-flow: column;
            }
        }
    }
    @include mobile {
        padding: 2rem 2rem 0;
        .footer-cont {
            flex-flow: column;
            padding: 0;

            .col {
                max-width: none;

                &.logo-address {
                    > a {
                        display: none;
                    }

                    p {
                        font-size: 1.5rem;
                        line-height: 2.5rem;
                    }

                    margin-bottom: 3rem;
                }

                &.menu-cont {
                    ul {
                        margin-bottom: 0;
                    }

                    .btn {
                        display: none;
                    }

                    margin-bottom: 3rem;
                }

                &.contact-us {
                    .contact-form {
                        p {
                            font-size: 1.4rem;
                        }

                        form {
                            flex-wrap: wrap;
                            gap: 1rem;

                            input {
                                min-width: 24rem;
                            }

                            .btn {
                                justify-self: center;
                                font-size: 1.4rem;
                            }
                        }
                    }

                    .sponsors {
                        width: 100%;
                        justify-content: space-around;

                        a {
                            margin: 0;
                        }
                    }
                }
            }
        }
        .copyright {
            padding: 1.5rem;

            .copy__cont {
                width: 100%;
                flex-flow: column;

                .copy {
                    font-size: 1.5rem;
                    line-height: 2.5rem;
                    text-align: center;

                    span {
                        display: block;
                    }

                    a:first-of-type {
                        &:before {
                            display: none;
                        }
                    }
                }

                .review {
                    display: none;
                }
            }
        }
    }
}