@use "@/styles/utils" as *;
.hero {
    position: relative;
    background: $white;

    &.asym-image-text {
        .asym__image {
            height: 100%;
        }

        &:before {
            height: calc(100% - 6rem);
        }
    }

    //&.asym-image-text {
    //    &.five-steps {
    //        &:before {
    //            height: calc(100% - 12rem);
    //        }
    //    }
    //}

    h1 {
        color: $navy;
        font-size: 5.5rem;
        line-height: 6.6rem;
        font-weight: bold;
        margin-bottom: 2.5rem;
    }

    p {
        font-size: 2.4rem;
        line-height: 3.6rem;
        color: rgba($black, .8);
        margin-bottom: 5rem;
    }

    .breadcrumb {
        .breadcrumb__cont {
            display: inline-flex;
            background: none;
            padding: 0;
            margin-top: 6rem;
        }
    }

    &.about-us {
        p {
            color: $black-1;
        }

        .breadcrumb .breadcrumb__cont {
            margin-top: 8rem;
        }

        &.asym-image-text .asym__text {
            padding: 5rem 0;
        }
    }

    .hero__cta-cont {
        display: flex;
        margin-top: 6rem;
        align-items: center;
        //justify-content: space-between;
    }

    ul {
        li {
            font-size: 2.1rem;
            line-height: 4rem;

            span {
                display: inline-block;
            }
        }
    }

    .hero__search {
        display: inline-flex;
        position: relative;
        padding: 3rem 4rem;
        background: $green;
        margin-top: 4rem;
        border-radius: 1rem;

        form {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        input {
            width: 54rem;
            border: none;
            font-size: 2rem;
            line-height: 1;
            color: $navy;
            padding: 1.5rem 2rem;
            border-radius: 1rem;
            margin-right: 2.5rem;
        }
    }

    @include desktop-high {
        h1 {
            font-size: 4.5rem;
            line-height: 5.5rem;
        }
        p {
            margin-bottom: 2rem;
        }
        ul {
            li {
                line-height: 3.3rem;

                span {
                    display: inline;
                }
            }
        }
        &.asym-image-text {
            padding-bottom: 0;

            .asym__text {
                margin: 0;
            }
        }
        .hero__search {
            margin-top: 2rem;
            justify-content: space-between;
            padding: 2rem;
            display: flex;
            width: 130%;

            input {
                width: 40rem;
            }
        }
    }
    @include mobile {
        &:before {
            position: absolute;
            background: $gray;
            content: '';
            width: 100%;
            top: 0;
            left: 0;
            z-index: 0;
            height: calc(100% - 6rem);
        }
        position: relative;
        &.asym-image-text {
            display: flex;
            flex-flow: column;

            .asym__text {
                display: flex;
                width: 100%;
                padding: 1.5rem;
                position: relative;

                .standard {
                    width: 100%;
                }

                .asym__text__cont {
                    width: 100%;
                }
            }

            h1 {
                font-size: 2.5rem;
                line-height: 3rem;
                margin-bottom: 1.5rem;
            }

            p {
                line-height: 2.4rem;
                font-size: 1.4rem;
                margin-bottom: 1rem;
            }

            .asym__image {

                &:before {
                    display: none;
                }

                align-self: flex-end;
                position: relative;
                overflow: hidden;
                width: calc(100% - 1.5rem);
                justify-content: flex-end;
                align-items: center;
                border-radius: 0 0 0 5rem;

                img {
                    max-width: none;
                    width: 100%;
                }
            }

            ul {
                li {
                    font-size: 1.3rem;
                    line-height: 2.3rem
                }
            }
        }
        .hero__search {
            margin-top: 2.5rem;
            padding: 1.5rem;
            width: 100%;
            box-shadow: 0 3px 13px rgba($black, .24);

            form {
                width: 100%;
                flex-direction: column;
            }

            input {
                font-size: 1.4rem;
                line-height: 2.4rem;
                width: 100%;
                font-weight: 500;
                margin: 0 0 1.5rem 0;
            }

            .btn {
                width: 100%;
                display: block;

            }
        }
        &.about-us {
            background: $gray;

            &:before {
                display: none;
            }

            .breadcrumb {
                display: none;
            }

            &.asym-image-text .asym__image {
            }

            &.asym-image-text .asym__text {
                padding: 2rem;
            }

            .btn {
                width: 100%;
                text-align: center;
            }
        }
    }
}

.hero-system {
    background: $white;
    position: relative;

    .hero-wrapper {
        background: $gray;
        position: relative;

        .hero-image {
            z-index: 9;
            position: absolute;
            top: 0;
            right: 0;
            height: calc(100% + 6rem);
            max-width: calc(50% - 6rem);
            overflow: hidden;

            img {
                height: 100%;
                object-fit: cover;
            }
        }

        .hero-inner {
            position: relative;
            z-index: 999;
            padding: 11rem 0;

            .hero-container {
                max-width: 50%;
                position: relative;
            }
        }

    }

    .hero-breadcrumb {
        .breadcrumb {
            .breadcrumb__cont {
                padding: 2rem 0 0 0;
            }
        }
    }

    h1 {
        color: $navy;
        font-size: 5.5rem;
        line-height: 6.6rem;
        font-weight: bold;
        margin-bottom: 2.5rem;
    }

    p {
        font-size: 2.4rem;
        line-height: 3.6rem;
        color: rgba($black, .8);
        margin-bottom: 5rem;
    }

    ul {
        li {
            font-size: 2.1rem;
            line-height: 4rem;

            span {
                display: inline-block;
            }
        }
    }

    .hero__search {
        display: inline-flex;
        position: relative;
        padding: 3rem 4rem;
        background: $green;
        margin-top: 4rem;
        border-radius: 1rem;

        form {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .btn {
            flex: 0 0 auto;
        }

        input {
            width: 54rem;
            border: none;
            font-size: 2rem;
            line-height: 1;
            color: $navy;
            padding: 1.5rem 2rem;
            border-radius: 1rem;
            margin-right: 2.5rem;
        }
    }

    &.no-cover {
        .hero-wrapper {
            .hero-inner {
                .hero-container {
                    max-width: 100%;
                }
            }
        }
    }

    @include mobile {
        position: relative;
        h1 {
            font-size: 2.5rem;
            line-height: 3rem;
            margin-bottom: 1.5rem;
        }

        p {
            line-height: 2.4rem;
            font-size: 1.4rem;
            margin-bottom: 1rem;
        }

        ul {
            li {
                font-size: 1.3rem;
                line-height: 2.3rem
            }
        }
        .hero-wrapper {
            display: flex;
            flex-direction: column;

            .hero-image {
                position: relative;
                width: 100%;
                padding-left: 2%;
                max-width: none;

                img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }

            .hero-inner {
                padding: 4rem 0;

                .hero-container {
                    max-width: none;
                    width: 100%;
                }
            }
        }
        .hero__search {
            margin-top: 2.5rem;
            padding: 1.5rem;
            width: 100%;
            box-shadow: 0 3px 13px rgba($black, .24);

            form {
                width: 100%;
                flex-direction: column;
            }

            input {
                font-size: 1.4rem;
                line-height: 2.4rem;
                width: 100%;
                font-weight: 500;
                margin: 0 0 1.5rem 0;
            }

            .btn {
                width: 100%;
                display: block;

            }
        }
    }
}