@use "@/styles/utils" as *;
.invest {
    &.asym-image-text {
        //&:before {
        //    display: none;
        //}

        .asym__image {
            &:before {
                background: $gray;
                width: 100%;
                height: calc(100% - 4rem);
                position: absolute;
                content: '';
            }
        }

        .asym__text {
            padding: 5rem 0;
        }
    }

    .section-title {
        text-align: left;
        padding: 0;
        //line-height: 5.8rem;
        margin-bottom: 2rem;
    }

    p {
        font-size: 2.4rem;
        color: $black;
    }

    .invest-form {
        margin-top: 3rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        > input {
            width: calc(50% - 1.5rem);
            margin-bottom: 1.5rem;

            &[type=checkbox] {
                border: .2rem solid rgba($black, .14);
                width: auto;
                margin: 0;
                vertical-align: middle;
                display: inline-block;
            }
        }

        .agreement {
            width: 100%;
            display: block;
            margin-bottom: 2.5rem;

            label {
                cursor: pointer;
                font-size: 1.6rem;
                color: rgba($black, .8);

                a {
                    color: rgba($black, .8);
                    border-bottom: .1rem solid;
                }
            }
        }

        .code-num {
            width: calc(50% - 1.5rem);
            margin-bottom: 1.5rem;
        }
    }

    @include desktop-high {
        &.asym-image-text {
            background: $gray;
            padding-bottom: 0;

            .asym__text {
                padding: 5rem;
            }
        }
    }
    @include mobile {
        background: $gray;
        padding: 2rem 0;
        min-height: 23rem;
        .section-title {
            font-size: 2rem;
            line-height: 3rem;
        }
        &.asym-image-text {
            justify-content: flex-end;
            display: flex;

            .asym__text {
                width: 100%;

                padding: 2rem;

                .asym__text__cont {
                    width: auto;
                }
            }

            .asym__image {
                width: 40%;
                height: 23rem;
                flex: 0 0 auto;
                overflow: hidden;
                justify-content: flex-start;

                &:before {
                    display: none;
                }

                img {
                    max-width: none;
                    height: 100%;
                    width: auto;
                }
            }
        }

        p, .invest-form {
            display: none;
        }
    }
}

.investpage {
    @include mobile {
        &.hero {
            background: $white;

            &:before {
                display: none;
            }

            &.asym-image-text {
                .asym__image {
                    //top: 17rem;
                }
            }

            .hero__cta-cont {
                flex-flow: column-reverse;
                margin-top: 0;

                .btn {
                    text-align: center;
                    width: 100%;
                }
            }
        }
    }
}