.layout-4 {
    padding: 6.5rem 0;
    background: $white;

    p {
        color: $black-1;
        font-size: 2.4rem;
        line-height: 3.2rem;
        margin: 3rem 0;
    }

    ul {
        font-size: 2.1rem;
        line-height: 4rem;
    }

    .btn {
        margin-top: 3rem;
    }

    .modular-aligner:first-of-type {
        margin-bottom: 5.5rem;
    }

    @include mobile {
        padding: 0;
        background: $gray;
        .modular-aligner {
            .section-subtitle {
                display: none;
            }

            &.img-is-right {
                .img-cont {
                    padding: 0;
                    margin-bottom: 2rem;
                }

                .modular-aligner__cont {
                    flex-flow: column-reverse;
                }
            }

            &.img-is-left {
                .img-cont {
                    padding: 0;
                    margin-bottom: 2rem;
                }
            }

            &:first-of-type {
                margin-bottom: 0;
            }
        }
        .js__toggle__handle {
            padding: 2rem 2%;
            font-size: 2rem;
            line-height: 3.5rem;
            font-weight: 500;
        }
        p {
            font-size: 1.5rem;
            line-height: 2.8rem;
            margin: 0 0 2rem 0;

            + div {
                text-align: center;
            }
        }
        &.exception{
            .js__toggle__handle{
                &:after{
                    height: 3rem;
                }
            }
        }
    }
}
