@use "@/styles/utils" as *;
.layout-2 {
    position: relative;
    overflow: hidden;
    background: $white;

    &:before {
        content: '';
        background: $gray;
        width: 100%;
        height: calc(100% - 5rem);
        position: absolute;
        z-index: 0;
    }

    .txt__cont {
        padding-top: 5rem;

        p {
            margin: 3rem 0 2rem 0;
            font-size: 2.4rem;
            line-height: 3.8rem;
            color: $black-1;
        }
    }

    @include desktop-high {
        .standard {
            width: 100%;
        }
    }
    @include mobile {
        .section-title {
            padding-left: 2%;
            padding-right: 2%;
        }
        background: $gray;
        .standard {
            width: 100%;
        }
        &:before {
            display: none;
        }
    }
}