@use "@/styles/utils" as *;

.layout-6 {
    background: $white;
    padding-bottom: 9rem;

    .layout-6__cont {
        display: flex;
        justify-content: space-between;


        .l6_left {
            width: calc(((100% - 10rem) * 60) / 100);
            flex: 0 0 auto;

            h2 {
                font-size: 4.3rem;
                font-weight: bold;
                color: $navy;
                margin-bottom: 3rem;
                line-height: 5rem;
            }

            p {
                font-size: 2.3rem;
                line-height: 4rem;
                color: $black-1;
            }

            .checkmarked {
                font-size: 2.4rem;
                line-height: 4rem;
            }

            > * {
                margin-bottom: 3rem;

                &:last-child {
                    margin-bottom: 0;
                }
            }

        }

        .l6_right {
            width: calc(((100% - 10rem) * 40) / 100);
            flex: 0 0 auto;

            .single-shadowed-image-box {
                margin-bottom: 7rem;
            }

            .double-image {
                &.pl-8-bl {
                    margin-bottom: 15rem;
                }
            }

            .box {
                h3 {
                    font-size: 2.8rem;
                    color: $navy;
                    line-height: 4rem;
                    font-weight: bold;
                    margin-bottom: 2rem;
                }

                .checkmarked {
                    font-size: 2.3rem;
                }
            }
        }
    }

    li.checkmarked {
        display: flex;
        align-items: baseline;

        &:before {
            flex: 0 0 auto;
        }
    }

    @include mobile {
        padding: 0;
        .standard {
            width: 100%;
        }
        .layout-6__cont {
            flex-flow: column;

            .l6_left {
                padding: 2rem;
                width: 100%;

                h2 {
                    font-size: 2rem;
                    line-height: 3rem;
                    margin-bottom: 1rem;
                }

                p {
                    font-size: 1.5rem;
                    line-height: 2.8rem;
                }

                .checkmarked {
                    font-size: 1.5rem;
                    line-height: 2.5rem;
                }

                > * {
                    margin-bottom: 1rem;
                }
            }

            .l6_right {
                width: 100%;

                .double-image {
                    display: none;
                }

                .single-shadowed-image-box {
                    box-shadow: none;
                    border-radius: 0;
                    padding: 1.5rem;
                    width: 100%;
                    margin-bottom: 4rem;
                }

                .box.rounded {
                    border-radius: 0;
                    padding: 2rem;

                    h3 {
                        font-size: 1.5rem;
                        line-height: 2.5rem;
                        margin-bottom: 1rem;
                    }

                    .checkmarked {
                        font-size: 1.5rem;
                        line-height: 2.5rem;
                    }
                }
            }
        }
    }
}