@use "@/styles/utils" as *;
.modular-houses-hero {
    h1 {
        color: $navy;
        font-size: 5.5rem;
        line-height: 6.6rem;
        font-weight: bold;
        margin-bottom: 2.5rem;
    }

    p {
        font-size: 2.4rem;
        line-height: 3.6rem;
        color: $black-1;
        margin-bottom: 5rem;
    }

    .benefits {
        margin-bottom: 5rem;

        li {
            display: block;
            line-height: 3rem;
            color: $navy;
            font-size: 2.5rem;
            margin-bottom: 2.5rem;

            &:last-of-type {
                margin-bottom: 0;
            }

            img {
                margin-right: 1.5rem;
                display: inline-block;
                vertical-align: middle;
            }

            span {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }

}

.mhpage {
    &.centerized-section {
        padding-bottom: 12rem;
    }

    .img-text-aligner {
        margin-bottom: 12rem;

        &.single-block {
            margin-bottom: 0;
        }
    }
}

@include mobile {
    .modular-houses-hero {
        position: relative;
        background: $gray;

        &:before {
            display: none;
        }

        .breadcrumb {
            display: none;
        }

        &:before {
            position: absolute;
            background: $gray;
            content: '';
            width: 100%;
            top: 0;
            left: 0;
            z-index: 0;
            height: calc(100% - 6rem);
        }

        &.asym-image-text {

            h1 {
                font-size: 2.5rem;
                line-height: 3rem;
                margin-bottom: 1.5rem;
            }

            p {
                line-height: 2.4rem;
                font-size: 1.4rem;
                margin-bottom: 1rem;
            }

        }

        .benefits {
            li {
                font-size: 1.5rem;
                line-height: 2rem;
                margin-bottom: 1.5rem;

                img {
                    margin-right: .5rem;
                    width: 1.7rem;
                    height: auto;
                }
            }
        }

        .btn {
            width: 100%;
            text-align: center;
        }
    }
    .mhpage {
        &.centerized-section {
            padding-bottom: 2rem;
        }

        .img-text-aligner {
            margin-bottom: 0;

            &.img-is-right {
                flex-flow: column-reverse;
            }

            .section-title {
                background: $gray;
                font-weight: bold;
                padding: 1.5rem;
                text-align: left;
                font-size: 1.6rem;
                line-height: 2.6rem;
            }

            .section-subtitle {
                display: none;
            }
        }
    }
}