@use "@/styles/utils" as *;
.our-partners {
    background: $white;
    padding-bottom: 6rem;

    .section-subtitle {
        font-size: 4.3rem;
        line-height: 5rem;
        margin-bottom: 4rem;
    }
}

.partners-cont {
    li {
        display: flex;
        justify-content: space-between;
        font-size: 2.3rem;
        font-weight: 500;
        color: $navy;
        align-items: center;
        padding-bottom: 1.7rem;
        margin-bottom: 6rem;
        border-bottom: .1rem solid rgba($navy, .4);

        &:last-of-type {
            margin-bottom: 0;
        }

        .images {
            display: inline-flex;
            align-items: center;

            img {
                display: inline-block;
                max-height: 6.4rem;
                width: auto;
                margin-left: 9rem;
            }
        }
    }
}

@include mobile {
    .our-partners {
        .standard {
            width: 100%;
        }

        padding: 3rem 0;

        .section-subtitle {
            font-size: 2rem;
            line-height: 3rem;
            margin-bottom: 2rem;
            padding: 0 1.5rem;
        }
    }
    .partners-cont {
        li {
            padding: 0 1.5rem;
            flex-flow: column;
            text-align: left;
            align-items: flex-start;
            font-size: 1.5rem;
            line-height: 2.5rem;
            margin-bottom: 2rem;

            .images {
                margin: 1.5rem 0;
                flex-wrap: wrap;

                img {
                    margin: 0 1rem 0 0;
                    max-height: 4rem;
                }
            }
        }
    }
}