//fonts
$fontset: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

//colors
$white: #ffffff;
$black: #000000;
$black-1: #595959;
$black-2: #2f2c2c;
$black-3: #002e5b;
$gray: #f3f7fa;
$gray-2: #F4F7FA;
$navy: #0e68a5;
$sky: #f3f7fa;
$green: #00dbb1;
$grass-green: #def3f2;
$grass-green-2: #63D8B3;
$green-light: #DFEFEF;

//system colors
$blue: #12A0FF;
$red: #FF3107;
$yellow: #FEDD59;
$navy-2: #3269A2;
$navy-3: #2F66A0;

//gradients

//size padding
$padding-1-0: 1rem;
$padding-1-2: 1.2rem;
$padding-1-3: 1.3rem;
$padding-1-5: 1.5rem;
$padding-1-8: 1.8rem;
$padding-2-0: 2rem;
$padding-2-1: 2.1rem;
$padding-2-3: 2.3rem;
$padding-2-5: 2.5rem;
$padding-2-6: 2.6rem;
$padding-2-7: 2.7rem;
$padding-2-8: 2.8rem;
$padding-3-0: 3rem;
$padding-3-2: 3.2rem;
$padding-3-3: 3.3rem;
$padding-3-6: 3.6rem;
$padding-3-7: 3.7rem;
$padding-4-3: 4.3rem;
$padding-4-4: 4.4rem;
$padding-5-0: 5rem;
$padding-5-2: 5.2rem;
$padding-5-3: 5.3rem;
$padding-5-8: 5.8rem;
$padding-6-2: 6.2rem;
$padding-6-3: 6.3rem;
$padding-6-6: 6.6rem;
$padding-6-7: 6.7rem;
$padding-6-9: 6.9rem;
$padding-7-0: 7rem;
$padding-7-2: 7.2rem;
$padding-7-8: 7.8rem;
$padding-8-8: 8.8rem;
$padding-8-4: 8.4rem;
$padding-9-0: 9rem;
$padding-10: 10rem;
$padding-11-0: 11.0rem;
$padding-11-9: 11.9rem;
$padding-13-6: 13.6rem;
$padding-13-0: 13.0rem;
$padding-16-8: 16.8rem;

//margin
$margin-1-0: 1rem;
$margin-1-1: 1.1rem;
$margin-1-6: 1.6rem;
$margin-1-8: 1.8rem;
$margin-2-0: 2rem;
$margin-2-2: 2.2rem;
$margin-2-5: 2.5rem;
$margin-2-6: 2.6rem;
$margin-3-0: 3rem;
$margin-3-3: 3.3rem;
$margin-3-5: 3.5rem;
$margin-4-0: 4rem;
$margin-5-0: 5rem;
$margin-5-5: 5.5rem;
$margin-5-6: 5.6rem;
$margin-6-2: 6.2rem;
$margin-6-3: 6.3rem;
$margin-6-7: 6.7rem;
$margin-11-9: 11.9rem;
$margin-15-0: 15rem;
$margin-18-0: 18rem;
$margin-55-0: 55rem;

// radius
$radius: .4rem;

// Breakpoints
$max: 2000px;
$hd-desktop: 1440px;
$desktop: 1200px;
$ld-desktop: 960px;
$tablet: 640px;
$mobile: 480px;

//font sizes
$txt-1-0: 1rem;
$txt-1-2: 12px;
$txt-1-3: 13px;
$txt-1-4: 14px;
$txt-1-5: 15px;
$txt-1-6: 16px;
$txt-1-8: 18px;
$txt-1-9: 19px;
$txt-2-0: 20px;
$txt-2-1: 21px;
$txt-2-4: 24px;
$txt-2-6: 26px;
$txt-2-7: 27px;
$txt-3-3: 33px;
$txt-3-7: 37px;
$txt-4-8: 48px;

//spaces

//$standard: 144rem;
$standard: calc(100% - 480px);

//shadows
$nav-shadow: 0 0 5px rgba(0, 0, 0, .1);
$big-shadow: 0 0 50px rgba(0, 0, 0, .05);
$white-bg-shadow: 0 0 5px rgba(0, 0, 0, .10);

//transition
$transition-1: all ease-in-out .1s;
$transition-2: all ease-in-out .2s;
$transition-3: all ease-in-out .3s;

//goodies
//background-color: #141E30;
//background: linear-gradient(to right, #24243e, #141E30, #0f0c29); }