html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    scroll-behavior: smooth;
    @media (max-width: 1640px) {
        font-size: 56.25%;
    }
    @media (max-width: 1440px) {
        font-size: 50%;
    }
    @media (max-width: 1200px) {
        font-size: 43.75%;
    }
    @media (max-width: 640px) and (max-width: 960px) {
        font-size: 31.25%;
    }
    @media (max-width: 640px) {
        font-size: 62.5%;
    }
}

body {
    background: $gray;
    color: $black;
    direction: ltr;
    font-size: 1.7rem;
    font-family: $fontset;
    text-align: left;
    width: 100%;
    height: 100%;

    &.register-page {
        background: $white;
    }

    @include aboveMax {
        .app-cont {
            max-width: $max;
            margin: 0 auto;
        }
    }
}

.main {
    position: relative;
    z-index: 0;
}