@use "@/styles/utils" as *;
.investment-steps {
    padding: 10rem 0;
    background: $white;

    h2 {
        font-size: 4.8rem;
        line-height: initial;
        margin-bottom: 3rem;
        color: $navy-3;
        font-weight: bold;
        text-align: center;
    }

    .steps-wrapper {
        padding: 0 7rem;
        display: flex;
        flex-wrap: wrap;
        gap: 3.5rem 9rem;
        justify-content: center;
        counter-set: lis;

        li {
            flex-basis: calc((100% - 18rem) / 3);
            background: #DFEFEF;
            border-radius: 1rem;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            padding: 2.5rem 3.5rem;
            counter-increment: lis;
            position: relative;
            display: flex;
            justify-content: center;
            flex-flow: column;
            align-items: center;
            gap: 2rem;

            img {
                max-height: 10rem;
            }

            p {
                font-size: 2.1rem;
                text-align: center;
            }

            &:before {
                content: counter(lis) ".";
                position: absolute;
                top: 2rem;
                left: 2rem;
                color: $navy-3;
            }
        }
    }

    @media all and (max-width: 1000px) {
        h2 {
            font-size: 3.5rem;
        }
        .steps-wrapper {
            padding: 0;
            gap: 3rem;
        }
    }
    @media all and (max-width: 640px) {
        padding: 2rem 0;
        h2 {
            font-size: 2.4rem;
        }
        .steps-wrapper {
            padding: 0 2rem;
            flex-flow: column;

            li {
                width: 100%;

                p {
                    font-size: 1.6rem;
                }
            }
        }
    }
}