@use "@/styles/utils" as *;
.layout-8 {
    background: $white;
    padding-bottom: $padding-10;

    .twin-n {
        display: flex;
        justify-content: center;
        padding: 6.5rem 9rem;
        align-items: center;

        .twin-n-img {
            width: 50%;
            padding-right: 6rem;

            img {
                width: 100%;
                border-radius: 3rem;
            }
        }

        .text-set {
            h2 {
                color: $navy-3;
                margin-bottom: $margin-3-0;
                font-weight: 700;
                font-size: 3.7rem;
                line-height: 5rem;
            }

            p {
                margin-bottom: $margin-3-0;
                font-weight: 400;
                font-size: 2.1rem;
                line-height: 2.5rem;
                letter-spacing: 0.02em;
                color: $black;
                padding-right: $padding-3-0;
            }

            .green-text {
                color: $grass-green-2;
            }
        }

        .right-content {
            padding-top: $padding-3-3;
            width: 50%;

            .background-checkmark {
                line-height: 2;

                li {
                    padding: $padding-1-3;
                    font-weight: 400;
                    font-size: 2.1rem;
                    line-height: 2.5rem;
                    letter-spacing: 0.02em;
                }
            }
        }
    }

    @include mobtop {
        padding: $padding-3-0 0;

        .twin-n {
            padding: 0;

            .twin-n-img {
                width: calc(100% - 2rem);
                margin: $margin-1-0;

                img {
                    height: 100%;
                    width: 100%;
                }
            }

            .text-set {
                h2 {
                    font-size: $txt-2-7;
                }

                p {
                    font-size: $txt-1-5;
                }
            }

            .right-content {
                width: 100%;
                padding: $padding-2-0;
            }
        }
    }
    @media all and (max-width: 780px) {
        padding: $padding-3-0 0;

        .twin-n {
            display: block;
            padding: 0;

            .twin-n-img {
                width: calc(100% - 2rem);
                margin: $margin-1-0;
                padding: 0;

                img {
                    width: 100%;
                }
            }

            .text-set {
                h2 {
                    font-size: 2.6rem;
                    line-height: initial;
                    margin-bottom: $margin-3-0;
                }

                p {
                    font-size: $txt-1-5;
                    line-height: 2.5rem;
                    margin-bottom: $margin-2-5;

                    + div {
                        text-align: center;
                    }
                }
            }

            .right-content {
                width: 100%;
                padding: 0 $padding-1-0;
            }
        }
    }

}