.form-style12 {
    .form-desc {
        padding-right: 30%;
        font-size: 2.1rem;
        margin-bottom: 2.5rem;
    }

    .fields-wrapper {
        padding-right: 30%;

        .form-row {
            margin-bottom: 1.5rem;

            .form-row__input {
                input {
                    width: 100%;
                }
            }
        }
    }

    .agreement-submit {
        display: flex;
        flex-flow: column;

        .agreement {
            margin-bottom: 2.5rem;
            color: $navy-3;

            input[type=checkbox] {
                border: none;
            }
        }

        .btn {
            align-self: flex-end;

        }
    }

    @media all and (max-width: 900px) {
        .form-desc {
            padding-right: 0;
        }
        .fields-wrapper {
            padding-right: 0;
        }
    }
    @media all and (max-width: 480px) {
        .form-desc {
            font-size: 1.6rem;
        }
        .agreement-submit {

            .btn {
                font-size: 1.4rem;
                padding: 1.4rem 2.4rem;
            }
        }
    }
}