.layout-9 {
    background: $gray-2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .text-cont {
        padding: 0 $padding-1-8 0 $padding-7-0;
        width: 50%;

        p {
            color: $black;
            margin: $margin-2-6 0 $margin-5-6;
            font-weight: 400;
            font-size: $txt-1-9;
            line-height: 25px;
        }

        .layout-btn {
            display: flex;
            padding-right: 18rem;
            justify-content: space-between;
            gap: 2rem;

            .btn-style-radius {
                width: 184px;
                text-align: center;
            }
        }
    }

    .img-cont {
        display: flex;
        width: 50%;
        padding-left: $padding-4-3;

        img {
            width: 100%;
        }
    }

    @include mobile {
        display: block;

        .text-cont {
            padding: $padding-2-1;
            width: 100%;

            .sec-title {
                font-size: $txt-3-3;
                text-align: center;
            }
        }

        .img-cont {
            width: calc(100% - 2rem);
            margin: 0 auto;
            padding-left: 0;

            .thuisborg-tb {
                width: 100%;
            }
        }

        .layout-btn {
            display: flex;
            justify-content: space-between;

            .btn-style-radius {
                margin-right: 0 !important;
            }
        }
    }
    @include mobtop {
        .layout-btn {
            display: flex;
            justify-content: space-between;
        }
    }
}