.packages-v2 {
    padding: $padding-3-7 0 $padding-6-7 0;
    background: $white;

    .packages-container {
        display: flex;
        justify-content: space-evenly;

        @include mobile {
            display: block;
            margin: $margin-1-1;
        }

        .pkg {
            box-shadow: rgba(0, 0, 0, 0.05) 0 3px 33px;
            border-radius: 2rem;
            overflow: hidden;

            &:after {
                content: "";
                height: 2rem;
                display: block;
                background: linear-gradient(180deg, rgba(50, 105, 162, 0) -169.41%, $navy-2 100%);
            }

            .pkg-head {
                background: linear-gradient(0deg, $navy-2 0%, rgba(50, 105, 162, 0) 284.12%);
                position: relative;

                .pkg-title {
                    text-align: center;
                    color: $white;

                    h2 {
                        font-size: $txt-2-1;
                        line-height: 29px;
                        padding: $padding-2-8 0 $padding-4-3 0;
                    }
                }
            }

            .pkg-body {
                position: relative;
                display: flex;

                img {
                    width: 100%;
                }

                .checkmarked {
                    color: $white;
                    margin-bottom: $margin-2-2;
                    display: flex;
                    line-height: 19px;
                    letter-spacing: 0.02em;
                    font-size: $txt-1-6;

                    &:before {
                        flex: 0 0 auto;
                    }
                }
            }

            .pkg-content-wrapper {
                position: absolute;
                padding: 0 $padding-5-8;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                top: 0;
                left: 0;

                ul {
                    margin-bottom: 4rem;
                }
            }

            .cta-cont {
                display: flex;
                align-items: center;
                width: 100%;
                justify-content: center;

                .btn {
                    font-weight: 700;
                    color: $white;
                    font-size: $txt-1-8;
                    line-height: 2.1rem;
                }
            }
        }
    }

    @media all and (max-width: 860px) {
        .packages-container {
            gap: 3rem;
            width: 90%;
            margin: 0 auto;

            .pkg {
                .pkg-body {
                    .pkg-content-wrapper {
                        padding: 0 $padding-1-2;
                    }
                }
            }
        }
    }
    @media all and (max-width: 640px) {
        .packages-container {

            .pkg {
                width: 100%;
                margin: $margin-2-0 0;

                .pkg-body {

                    .pkg-content-wrapper {
                        padding: 0 $padding-1-2;
                    }
                }

                .cta-cont {
                    width: 100%;

                    .btn {
                        font-size: $txt-1-8;
                        line-height: 1.4rem;
                    }
                }
            }
        }
    }
}